/* 페이지, 컴포넌트 별 세부 적용 사항 CSS */
/* 클래스 네임 규칙 ex) Component-inputWrap*/

/* Main */

.Main-wrap .btn.st1{
  margin: 5px;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 7px 7px 7px 7px;
}
#slide-wrap{
  width: 100%;
  height:100%;
  overflow:hidden;
  position:relative;
}


/*Date*/
.Main-wrap .Main-Date{
  width: 100%;
  height: auto;
  margin:  auto;
  display: flex;
  vertical-align: middle;
  text-align: center;
}
.Main-wrap #Date-wrap{
  width: auto;
}
.Main-wrap #Date-wrap .Main-Date{
  margin-top: 25px;
}
.Main-wrap #Date-wrap .order-listSelect-text{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.today{
  margin-top: 5px;
  margin-bottom:5px;
  height: 30px;
  width: 100%;
  color: #F87946;
  border: 1px solid  #3f3f3f;
  background-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
}
.Main-wrap #Date-wrap .orderlist{
  float: left;
  margin: 10px;
  margin-top: 30px;
}
.Main-wrap #Date-wrap .Main-Date #slide-wrap .scroll-container{
  display: flex;
  flex-wrap: nowrap;
  height: auto;
  overflow-x: auto;
  width: auto;
}
.Main-wrap #Date-wrap .Main-Date #slide-wrap button{
  border: 3px solid #F87946;
  width: 6em;
  border-radius: 10px 10px 10px 10px;
  background-color: #ffffff;
  color: #F87946;
}
.Main-wrap .mb-view .input-area{
  width: auto;
  height: 100%;
  padding-top: 20px;
}
#Date-wrap{
  text-align: center;
}

/*item Input*/
.Main-wrap .input-wrap {
  width: 100%;
  height: auto;
}
.Main-wrap .input-wrap .input-order-area {
  float: left;
  width: 33.33%;
  padding-bottom: 10px;
  position: relative;
}
.Main-wrap .input-wrap .input-order-area p{
  padding-top: 20px;
  padding-bottom: 10px;
}
.Main-wrap .input-wrap .input-order-area .input-style{
  height: 18px;
  width: 90%;
  font-size: 16px;
  font-weight: bold;
  height: 29px;
}
.Main-wrap .input-wrap .input-order-area .quantity{
  width: 50%;
  padding: 0px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-width: 0px;
}
.Main-wrap .input-wrap .input-order-area .item-input-unit button{
  width: 25%;
  height: 98%;
  padding-top: 2%;
  border-width: 0px;
  background-color: #ffffff;
}
.Main-wrap .input-wrap .input-order-area .item-input-unit {
  border: 1.5px solid #E0E0E0;
  height: 31px;
}

.Main-wrap .input-wrap .orderBtn{
  width: 100%;
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: rgb(248, 121, 70);
  border: none;
}
.Main-wrap .input-wrap .input-order-area .autoComplete-wrap.focus{
  position: absolute;
  top:80px;
  width: 90%;
  background-color: #ffffff;
}
.Main-wrap .input-wrap .input-order-area .autoComplete-wrap.none{
  display: none;
}
.Main-wrap .input-wrap .input-order-area .autoComplete-wrap .search-preview{
  margin-top:20px;
}
.Main-wrap .input-wrap .input-order-area .autoComplete-wrap.focus .explanation{
  font-size: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top :10px;
  background-color: #E0E0E0;
}
/*Items*/
.Main-wrap .Items{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
  border-bottom-style: solid;
  border-width: 1px;
}
.Main-wrap .Items .item-unit{
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.Main-wrap .Items .item-unit p{
  margin: 5px;
  float: left;
}
.Main-wrap .Items .item-unit .quantity-delete{
  float: right;
  width: 45%;
}
.Main-wrap .Items .item-unit .quantity-delete .delete{
  float: right;
  border: 1.5px solid #E0E0E0;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.Main-wrap .Items .quantity-delete .item-input-unit{
  border: 1.5px solid #E0E0E0;
  text-align: center;
  vertical-align: middle;
  float: right;
  margin-right: 10px;
  width: 33%;
}

.Main-wrap .Items .quantity-delete .item-input-unit input{
  width: 50%;
  height: 18px;
  padding: 0px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-width: 0px;
}
.Main-wrap .Items .quantity-delete .item-input-unit button{
  width: 25%;
  height: 18px;
  padding-right: 5px;
  border-width: 0px;
  background-color: #ffffff;
}



.Main-wrap .Items .quantity-delete .delete{
  float: right;
}
/*희망가격 버튼 */
.Main-wrap .input-area .order{
  position: absolute;
  width: 90%;
  margin-top: 20px;
  height: 34px;
  bottom: 10px;
}
.Main-wrap .input-area .order p{
  padding-top: 9px;
  float: left;
  padding-bottom:9px;
  width: 20%;
  font-size: 13px;
  font-weight: bold;
}
.Main-wrap .input-area .shoppingBasket{
  padding-top:50px;
  padding: auto;
  width: 100%;
  text-align: center;
}
.Main-wrap .input-area .order .order-input-btn{
  width: 80%;
  height: 100%;
  float: right;
}
.Main-wrap .input-area .order .order-input-btn p{
  float: right;
  width: 10%;
}
.Main-wrap .input-area .order .order-input-btn button{
  float: right;
  width:35%;
  height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: rgb(248, 121, 70);
  border: none;
}
.Main-wrap .input-area .order .order-input-btn input{
  margin-right: 10px;
  height: 29px;
  width: 45%;
  font-size: 16px;
  font-weight: bold;
  float: right;
}

.Main-wrap .PastOrderItems-wrap{
  width: 100%;
  margin-top: 20px;
  height: 30px;
  border-bottom-style: solid;
  border-width: 0.2px;
}
.Main-wrap .PastOrderItems-wrap .items{
  width: auto;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.Main-wrap .PastOrderItems-wrap button{
  float: right;
  vertical-align: middle;
  bottom: 10px;
  color: white;
  background-color: rgb(248, 121, 70);
  border: none;
}
.Main-wrap #PastOrders #date-orderlist{
  width: auto;
  height: 35px;
  padding-left: 20px;
  padding-right : 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: solid 0.5px;
}
.Main-wrap #PastOrders #date-orderlist h1{
  width: auto;
  height: 100%;
  margin-left: 66.66px;
  margin-bottom: 10px;
  align-items: center;
}
.Main-wrap #PastOrders .All-select{
  font-size: 16px;
  float: right;
  width: 5em;
  height: auto;
  color: white;
  background-color: rgb(248, 121, 70);
  border: none;
}
.Main-wrap #PastOrders .PastOrderItems-wrap button{
  font-size: 16px;
  float: right;
  width: 5em;
  height: auto;
  color: rgb(248, 121, 70);
  background-color: white;
  border: 1px solid rgb(214, 214, 214);
}


/* Login */
.Login-wrap .Button-wrap {
  margin-bottom: 10px;
}
.Login-wrap .socialBtnList {
  margin-top:10px;
  margin-bottom: 20px;
}
.Login-wrap .socialBtnList a{
  width:100%;
}
.Login-wrap .Login-submitBtn {
  margin-top: 20px;
}

/* Signup */



/*unSignInOrder*/
.UnSignInOrder-wrap .warning_text.orange {
  margin-top: 15px;
  color:#F87946;
}


/* Order */
.Order-wrap h3{
  margin-top: 20px;
}

.Order-wrap input[type="text"], 
.Order-wrap select{
  height:40px;
  background-color: white;
  border:1px solid #E0E0E0;
  box-sizing:border-box;
}
.Order-wrap select{
  text-align-last: center;
}

.Order-wrap .warning_text{
  color:#F87946;
}

.Order-hopePrice{
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.Order-hopePrice h3{
  min-width: 80px;
  margin-top: 0;
}

.Order-hopePrice .flexWrap {
  display:flex;
  align-items: center;
  width:auto;
  margin-bottom: 10px;
}
.Order-hopePrice .flexWrap p{
  color:#F87946;
  font-size: 1.2rem;
}

.Order-hopePrice .flexWrap span {
  margin-left: 10px;
  margin-right: 6px;
}

.Order-selList1 li{
  display: flex;
  flex:1;
  align-items: center;
}



.Order-selList1 li input[type="text"]{
  width:85%;
  box-sizing: border-box;
}
.Order-selList1 li:last-child{
  max-width: 100px;
}


.Order-selList2{
  align-items: center;
}
.Order-selList2 select{
  flex:1;
}
.Order-selList2 span{
  display: inline-block;
  padding:0 5px;
}

.Order-selList3{
  justify-content:center;
  margin-bottom: 20px;
}

.Order-selList3 li{
  display:flex;
  justify-content: center;
  margin-bottom: 15px;
}
.Order-selList3 li:nth-child(1){
  margin-right:10px;
}

.Order-datePickTitle {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.Order-datePickTitle im
g{
  margin-right:5px;
}


/*datePicker*/

.calendarView{
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background: rgba(0,0,0,.2);
}

.Calendar{
  max-width:350px;
}

.btnClosePopup{
  position: absolute;
  left: 50%;
  margin-left: 145px;
  top:50%;
  margin-top: -215px;
}

.calendarInput {
  display:flex;
  justify-content: center;
  align-items: center;
  flex:1;
  height:40px;
  margin-right:10px;
  border:1px solid #E0E0E0;
  font-weight:normal;
  box-sizing:border-box;
  font-size: 0.9rem;
}

/* Mypage */
.MyPage-userInfo{
  margin:30px 0 50px;
}

.MyPage-userInfo li{
  display:flex;
  align-items: flex-start;
  padding: 10px 0;
  font-size: 0.95rem;
  font-weight: normal;
}

.MyPage-userInfo li h3{
  width: 90px;
  min-width: 90px;
  height:auto;
  font-weight: bold;
}

.MyPage-userInfo li p{
  line-height: 1.4;
}

.MyPage-wrap .content_inner > a{
  margin-bottom:10px;
}

/*****************************media query(max-width:380px)**************************/
@media (max-width:380px){
  .btnClosePopup {
    left: calc(90% - 18px);
    margin-left: 0;
  }
}
/*****************************media query(max-width:380px)**************************/
