/* 페이지, 컴포넌트 별 세부 적용 사항 CSS */
/* 클래스 네임 규칙 ex) Component-inputWrap*/

/* Main */

.Main-wrap .Main-Date{
  width: 90%;
  height: 100px;
  margin:  auto;
  display: flex;
  vertical-align: middle;
  text-align: center;
}
.Main-wrap .btn.st1{
  margin: 5px;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 7px 7px 7px 7px;

}
.Main-wrap .btn.st1.today{
  margin: 5px;
  height: 20px;
  width: 100%;
  clear: both;
  border-radius: 7px 7px 7px 7px;
}
.Main-wrap .order{
  float: right;
  margin: 5px;
  margin-top: 20px;
}

#slide-wrap{
  width: 100%;
  height:100%;
  overflow:hidden;
  position:relative;
}

.Main-wrap .order-btn{
  border-color: #F87946;
  border-radius: 7px 7px 7px 7px;
  background-color: #F87946;
  color: #ffffff;
}
.Main-wrap #Date-wrap .Main-Date{
  margin-top: 25px;
}
.Main-wrap #Date-wrap .Main-Date #slide-wrap button{
  border-color: #F87946;
  width: 100%;
  border-radius: 7px 7px 7px 7px;
  background-color: #F87946;
  color: #ffffff;
}
#Date-wrap{
  text-align: center;
  margin-top: 30px;
}
.Item-input-wrap{
  height: auto;
  display : flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.Item-input-wrap #item-textarea {
  width: 100%;
}

.Item-input-wrap #item-textarea p{
  width: 200px;
  height: 30px;
}

.Item-input-wrap #item-textarea input{
  width: 200px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: none;
  border-bottom: solid 2px;
}
.item-input-btn{
  text-align: center;
  margin-left: 50px;
  width: 100%;
  height: 100%;
  float: right;
}

.item-input-unit{
  width: 50px;
  margin-left: auto;
  margin-right : auto;
  align-items: center;
}
.item-input-unit button{
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
  border-color: #F87946;
  border-radius: 7px 7px 7px 7px;
  background-color: #F87946;
  color: #ffffff;
}
.item-input-btn button{
  margin-top: 5px;
  border-color: #F87946;
  border-radius: 7px 7px 7px 7px;
  background-color: #F87946;
  color: #ffffff;
}
.item-input-unit input{
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  border: none;
  border-bottom: solid 2px;
}
.Main-wrap .Items{
  width: 100%;
  height: auto;
  border: medium solid #F87946;
  margin-top: 3px;
}
.Main-wrap .Items .item-unit{
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.Main-wrap .Items .item-unit p{
  margin: 5px;
}
.Main-wrap .Items .quantity-delete{
  text-align: center;
  vertical-align: middle;
  float: right;
  margin: 5px;
  margin-top: 18px;
  width: 100%;
}
.Main-wrap .Items .quantity-delete .quantity{
  text-align: center;
  width: 100%;
}
.Main-wrap .Items .quantity-delete p{
  float: right;
  width: auto;
  margin-right: 10px;
  vertical-align: middle;
}
.Main-wrap .Items .quantity-delete input{
  float: right;
  width: 25px;
  margin-right: 10px;
  vertical-align: middle;
  border:none;
  border-bottom: solid 2px;
  text-align: center;
}
.Main-wrap .Items .quantity-delete button{
  vertical-align: middle;
  float: right;
  height: auto;
  width: auto;
  margin-right: 10px;
  border-color: #F87946;
  border-radius: 7px 7px 7px 7px;
  background-color: #F87946;
  color: #ffffff;
}
.Main-wrap .Items .quantity-delete .delete{
  float: right;
}
.Main-wrap .PastOrderItems-wrap{
  width: 100%;
  margin-top: 20px;
}
.Main-wrap .PastOrderItems-wrap .items{
  width: 100%;
}
.Main-wrap .PastOrderItems-wrap li{
  width: 50%;
  margin-top: 10px;
}
.Main-wrap .PastOrderItems-wrap li{
  width: 50%;
  margin-top: 10px;
}
.Main-wrap .PastOrderItems-wrap button{
  float: right;
  vertical-align: middle;
  bottom: 10px;
  border-color: #F87946;
  border-radius: 7px 7px 7px 7px;
  background-color: #F87946;
  color: #ffffff;
}
.Main-wrap #PastOrders .All-select{
  margin: 5px;
  width: 100%;
  height: auto;
  border-color: #F87946;
  border-radius: 7px 7px 7px 7px;
  background-color: #F87946;
  color: #ffffff;
}


/* Login */
.Login-wrap .Button-wrap {
  margin-bottom: 10px;
}
.Login-wrap .socialBtnList {
  margin-top: 20px;
  margin-bottom: 20px;
}
.Login-wrap .socialBtnList a{
  width:100%;
}
.Login-wrap .Login-submitBtn {
  margin-top: 20px;
}

/* Signup */



/*unSignInOrder*/
.UnSignInOrder-wrap .warning_text {
  margin-top: 15px;
  
}

/* Order */
.Order-wrap h3{
  margin-top: 20px;
}

.Order-wrap input[type="text"], 
.Order-wrap select{
  height:40px;
  border:1px solid black;
}

.Order-hopePrice{
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.Order-hopePrice h3{
  min-width: 80px;
  margin-top: 0;
}

.Order-hopePrice .flexWrap {
  display:flex;
  align-items: center;
  width:auto;
  margin-bottom: 10px;
}
.Order-hopePrice .flexWrap p{
  color:#F87946;
  font-size: 1.2rem;
}

.Order-hopePrice .flexWrap span {
  margin-left: 10px;
  margin-right: 6px;
}

.Order-selList1 li{
  display: flex;
  flex:1;
  align-items: center;
}
.Order-selList1 li label{
  margin-right: 5px;
}
.Order-selList1 li input[type="text"]{
  width:85%;
  box-sizing: border-box;
}
.Order-selList1 li:last-child{
  max-width: 100px;
}


.Order-selList2{
  align-items: center;
}
.Order-selList2 select{
  flex:1;
}
.Order-selList2 span{
  display: inline-block;
  padding:0 5px;
}

.Order-selList3{
  justify-content:center;
  margin-bottom: 20px;
}

.Order-selList3 li{
  display:flex;
  justify-content: center;
  margin-bottom: 15px;
}