/* 페이지, 컴포넌트 별 세부 적용 사항 CSS */
/* 클래스 네임 규칙 ex) Component-inputWrap*/

/* Main */

.Main-wrap .btn.st1{
  margin: 5px;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 7px 7px 7px 7px;
}
.Main-wrap .mb-view{
  position: absolute;
  width:100%;
  height: 100%;
  overflow-y: auto;
  max-width:450px;
  max-height: 850px;
  padding:0px;
  padding-top: 55px;
  background-color: white;
  box-sizing: border-box;
  font-weight: bold;
}

.Main-wrap .order{
  float: right;
  margin: 5px;
  margin-top: 20px;
}

#slide-wrap{
  width: 100%;
  height:100%;
  overflow:hidden;
  position:relative;
}

.Main-wrap .order-btn{
  border-color: #F87946;
  border-radius: 7px 7px 7px 7px;
  background-color: #F87946;
  color: #ffffff;
}
.Main-wrap .Main-Date{
  width: 100%;
  height: auto;
  margin:  auto;
  display: flex;
  vertical-align: middle;
  text-align: center;
}
.Main-wrap #Date-wrap{
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.Main-wrap #Date-wrap .Main-Date{
  margin-top: 25px;
}
.Main-wrap #Date-wrap .order-listSelect-text{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.today{
  margin-top: 5px;
  margin-bottom:5px;
  height: 30px;
  width: 100%;
  color: #F87946;
  border: 1px solid  #3f3f3f;
  background-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
}
.Main-wrap #Date-wrap .orderlist{
  float: left;
  margin: 10px;
  margin-top: 30px;
}
.Main-wrap #Date-wrap .Main-Date #slide-wrap .scroll-container{
  display: flex;
  flex-wrap: nowrap;
  height: auto;
  overflow-x: auto;
  width: auto;
}
.Main-wrap #Date-wrap .Main-Date #slide-wrap button{
  border: 3px solid #F87946;
  width: 6em;
  border-radius: 10px 10px 10px 10px;
  background-color: #ffffff;
  color: #F87946;
}
.Main-wrap .mb-view .input-area{
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}
#Date-wrap{
  text-align: center;
  margin-top: 30px;
}



.Main-wrap .Items{
  width: 100%;
  height: auto;
  border-bottom-style: solid;
  border-width: 1px;
}
.Main-wrap .Items .item-unit{
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.Main-wrap .Items .item-unit p{
  margin: 5px;
}
.Main-wrap .Items .quantity-delete{
  text-align: center;
  vertical-align: middle;
  float: right;
  margin: 5px;
  margin-top: 18px;
  width: 100%;
}
.Main-wrap .Items .quantity-delete .quantity{
  text-align: center;
  width: 100%;
}
.Main-wrap .Items .quantity-delete p{
  float: right;
  width: auto;
  margin-right: 10px;
  vertical-align: middle;
}
.Main-wrap .Items .quantity-delete input{
  float: right;
  width: 25px;
  margin-right: 10px;
  vertical-align: middle;
  border:none;
  border-bottom: solid 2px;
  text-align: center;
}
.Main-wrap .Items .quantity-delete button{
  vertical-align: middle;
  float: right;
  height: auto;
  width: auto;
  margin-right: 10px;
  border-color: #F87946;
  border-radius: 7px 7px 7px 7px;
  background-color: #F87946;
  color: #ffffff;
}
.Main-wrap .Items .quantity-delete .delete{
  float: right;
}
.Main-wrap .PastOrderItems-wrap{
  width: 100%;
  margin-top: 20px;
  height: 30px;
  border-bottom-style: solid;
  border-width: 1px;
}
.Main-wrap .PastOrderItems-wrap .items{
  width: auto;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.Main-wrap .PastOrderItems-wrap button{
  float: right;
  vertical-align: middle;
  bottom: 10px;
  border-color: #F87946;
  border-radius: 7px 7px 7px 7px;
  background-color: #F87946;
  color: #ffffff;
}
.Main-wrap #PastOrders #date-orderlist{
  width: auto;
  height: 35px;
  padding-left: 20px;
  padding-right : 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: solid 1px;
}
.Main-wrap #PastOrders #date-orderlist h1{
  width: auto;
  height: 100%;
  margin-left: 66.66px;
  margin-bottom: 10px;
  align-items: center;
}
.Main-wrap #PastOrders button{
  float: right;
  width: 5em;
  height: auto;
  border: 1px solid #3f3f3f;
  border-radius: 4px 4px 4px 4px;
  background-color: #ffffff;
  color: #F87946;
}


/* Login */
.Login-wrap .Button-wrap {
  margin-bottom: 10px;
}
.Login-wrap .socialBtnList {
  margin-top: 20px;
  margin-bottom: 20px;
}
.Login-wrap .socialBtnList a{
  width:100%;
}
.Login-wrap .Login-submitBtn {
  margin-top: 20px;
}

/* Signup */



/*unSignInOrder*/
.UnSignInOrder-wrap .warning_text {
  margin-top: 15px;
  color:#F87946;
}


/* Order */
.Order-wrap h3{
  margin-top: 20px;
}

.Order-wrap input[type="text"], 
.Order-wrap select{
  height:40px;
  background-color: white;
  border:1px solid #E0E0E0;
}

.Order-wrap .warning_text{
  color:#F87946;
}

.Order-hopePrice{
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.Order-hopePrice h3{
  min-width: 80px;
  margin-top: 0;
}

.Order-hopePrice .flexWrap {
  display:flex;
  align-items: center;
  width:auto;
  margin-bottom: 10px;
}
.Order-hopePrice .flexWrap p{
  color:#F87946;
  font-size: 1.2rem;
}

.Order-hopePrice .flexWrap span {
  margin-left: 10px;
  margin-right: 6px;
}

.Order-selList1 li{
  display: flex;
  flex:1;
  align-items: center;
}
.Order-selList1 li input[type="radio"]{
  display:none;
}

.Order-selList1 li label {
  display:block;
  width:16px;
  height:16px;
  border-radius: 50%;
  border: 1px solid #E0E0E0;
  margin-right: 5px;
}

.Order-selList1 li input[type="radio"]:checked+label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #F87946;
}

.Order-selList1 li input[type="radio"]:checked+label:before{
  content:'';
  display: inline-block; 
  /* position:absolute;
  top:50%;  
  left:50%;
  margin-top: -5px;
  margin-left: -5px; */
  width:10px;
  height:10px;
  background-color: #F87946;
  border-radius: 50%;
  box-sizing: border-box;
}

.Order-selList1 li input[type="text"]{
  width:85%;
  box-sizing: border-box;
}
.Order-selList1 li:last-child{
  max-width: 100px;
}


.Order-selList2{
  align-items: center;
}
.Order-selList2 select{
  flex:1;
}
.Order-selList2 span{
  display: inline-block;
  padding:0 5px;
}

.Order-selList3{
  justify-content:center;
  margin-bottom: 20px;
}

.Order-selList3 li{
  display:flex;
  justify-content: center;
  margin-bottom: 15px;
}