/* 페이지, 컴포넌트 별 세부 적용 사항 CSS */
/* 클래스 네임 규칙 ex) Component-inputWrap*/

/* Main */
.Main-wrap .Header-wrap{
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}
.Main-wrap .Header-gnp{
  position: relative;
  display: inline-table;
  text-align: center;
  z-index: 0;
  width: 100%;
}
.Main-wrap .Header-h1{
  line-height: 60px;
  text-align: center;
  clear: left;
}
.Main-wrap .Header-loginbtn{
  float: right;
}

.Main-wrap .Main-Date{
  border: 1px solid #ff7f00;
  width: 90%;
  height: 60px;
  margin:  auto;
  text-align: center;
  display: flex;
  vertical-align: middle;
  align-items: center;
  
}
.Main-wrap .btn.st1{
  margin-left: 10px;
  margin-right: 10px;
  height: 20px;
  width: 100px;
}
.Main-wrap .order{
  position : fixed;
  
}
/* Login */
.Login-wrap .Button-wrap {
  margin-bottom: 10px;
}
.Login-wrap .socialBtnList {
  margin-top: 20px;
  margin-bottom: 20px;
}
.Login-wrap .socialBtnList a{
  width:100%;
}
.Login-wrap .Login-submitBtn {
  margin-top: 20px;
}

/* Signup */
.Signup-wrap input{
  padding-left: 10px;
}
.Signup-wrap .birthInput{
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.Signup-wrap .birthInput input{
  margin-bottom: 0;
  padding-right: 10px;
  text-align: right;
}

.Signup-wrap .birthInput select{
  display:flex;
  justify-content: center;
  flex:1;
  height:40px;
  text-align-last:center;
  border:1px solid black;
}

.Signup-wrap .birthInput span{
  display: inline-block;
  margin:5px;
}

/*unSignInOrder*/
.UnSignInOrder-wrap .warning_text {
  margin-top: 15px;
  
}

/* Order */
.Order-wrap h3{
  margin-top: 20px;
}


.Order-wrap input[type="text"], 
.Order-wrap select{
  height:40px;
  border:1px solid black;
}

.Order-selList1 li{
  display: flex;
  flex:1;
  align-items: center;
}
.Order-selList1 li label{
  margin-right: 5px;
}
.Order-selList1 li input[type="text"]{
  width:85%;
  box-sizing: border-box;
}
.Order-selList1 li:last-child{
  max-width: 100px;
}


.Order-selList2{
  align-items: center;
}
.Order-selList2 select{
  flex:1;
}
.Order-selList2 span{
  display: inline-block;
  padding:0 5px;
}

.Order-selList3{
  justify-content:center;
  margin-bottom: 20px;
}

.Order-selList3 li{
  display:flex;
  justify-content: center;
  margin-bottom: 15px;
}