
/* 공통 적용 CSS */
body,html{
  font-size: 16px;
}

a{
  display: inline-block;
  font-style: none;
  text-decoration: none;
  color:inherit;
  font-weight: inherit;
}

textarea:focus,
input:focus {
  outline: none;
}

input[type="text"]:read-only {
  background-color: #f0f0f0;
}

h2{
  width:100%;
  height: 100px;
  display: flex;
  font-size: 1.2rem;
  justify-content:center;
  align-items: center;
}
h3{
  display: flex;
  justify-self: flex-start;
  align-items:flex-start;
  height: 30px;
}

/*flex*/
.flex {
  display: flex;
}

.flex .btn {
  margin-left: 0.3rem;
}

a.fullBtn{
  width:100%;
}

/*Button*/
.Button-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:45px;
  color:white;
  background-color:#F87946;
  border-radius: 3px;
  font-weight: bold;
  box-sizing: border-box;
}

.Button-wrap > div{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}

.Button-wrap>div>img{
  display: inline-block;
  margin-left: 5px;
}

/*input*/
input{
  border:1.5px solid #E0E0E0;
  font-size: 0.9rem;
}

::placeholder{
  color:#D5D5D5;
  font-weight: bold;
  letter-spacing: -1px;
}


input[type="text"],
input[type="password"],
select {
  padding-left:10px;
}

/*inputWrap*/
.inputWrap{
  width:100%;
}
.inputWrap input{
  width:100%;
  box-sizing: border-box;
  height: 40px;
  margin-bottom: 15px;
}

/* btn style */

.BtnList a{
  width:100%;
  margin-bottom: 10px;
}

.btn{
  height:40px;
  max-height:40px;
  white-space: nowrap;
  box-sizing: border-box;
  border: none;
  font-weight: bold;
}

.btn.st1{
  color:white;
  background-color:#F87946;
  padding: 0 20px;
}

/*text style*/
.warning_text{
  position: relative;
  padding-left: 10px;
  margin-bottom: 20px;
  color:#E85252;
  font-size: 0.75rem;
  line-height: 1.4;
}

.warning_text:before{
  content:'*';
  position: absolute;
  left:0;
  font-size: 1rem;
}


/* InputBirth-wrap */
.InputBirth-wrap {
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.InputBirth-wrap input {
  margin-bottom: 0;
  padding-right: 10px;
  text-align: right;
}

.InputBirth-wrap select {
  display: flex;
  justify-content: center;
  flex: 1;
  height: 40px;
  text-align-last: center;
  background-color: white;
  border: 1px solid #E0E0E0;
}

.InputBirth-wrap span {
  display: inline-block;
  margin: 5px;
}


/*Header-wrap*/
.Header-wrap{
  display:flex;
  justify-content:space-between;
  align-items: center;
  width:100%;
  height:55px;
  background:#F87946;
  box-shadow: 0 0 5 px 5px rgba(0,0,0,.2);
}

.Header-wrap h1{
  position: absolute;
  left:50%;
  margin-left: -44px;
  height:35px;
}

.Header-wrap h1 > a{
  height: 100%;
}

.Header-wrap h1 img{
  height: 100%;
  padding-top: 2px;
}

.Header-menuBar {
  height:40px;
  margin-left: 5px;
  z-index:100;
}
.Header-menuBar img {
  height:100%;
}

.Header-loginbtn{
  display: flex;
  justify-content:center;
  align-items: center;
  height:100%;
  padding:0 20px;
  color:white;
  
}

.Header-loginbtn a{
  font-size: 1rem;
  font-weight: bold;
}

/* Header-menu */

.Header-menu{
  display:none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left:0;
  top:-100%;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,.8);
  color:white;
  transition:all 2s 4s ease-out;
}

.Header-wrap.open .Header-menu {
  display:flex;
  top:0;
  z-index: 10;
}

.Header-menu li{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:45px;
}


