
/* 공통 적용 CSS */
body,html{
  font-size: 16px;
}

a{
  display: inline-block;
  font-style: none;
  text-decoration: none;
}

textarea:focus,
input:focus {
  outline: none;
}

h2{
  width:100%;
  height: 50px;
  display: flex;
  font-size: 1.2rem;
  justify-content:center;
  align-items: flex-start;
}
h3{
  display: flex;
  justify-self: flex-start;
  align-items:flex-start;
  height: 30px;
}

/*flex*/
.flex {
  display: flex;
}

.flex .btn {
  margin-left: 0.3rem;
}

/*Button*/
.Button-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:45px;
  color:white;
  background-color:#ff7f00;
  border-radius: 3px;
}

/*input*/
input{
  border:1px solid black;
  font-size: 0.9rem;
}

/*inputWrap*/
.inputWrap{
  width:100%;
}
.inputWrap input{
  width:100%;
  box-sizing: border-box;
  height: 40px;
  margin-bottom: 15px;
}

/* btn style */

.BtnList a{
  width:100%;
  margin-bottom: 10px;
}

.btn{
  height:40px;
  max-height:40px;
  white-space: nowrap;
  box-sizing: border-box;
  border: none;
  font-weight: bold;
}

.btn.st1{
  color:white;
  background-color:#ff7f00;
  padding: 0 20px;
}

/*text style*/
.warning_text{
  position: relative;
  padding-left: 10px;
  margin-bottom: 20px;
  color:#E85252;
  font-size: 0.7rem;
}

.warning_text:before{
  content:'*';
  position: absolute;
  left:0;
  font-size: 1rem;
}