
/*각 페이지 공통, layout*/
#wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100vh;
  background-color: rgb(243, 243, 243);
}
.mb-view{
  position: absolute;
  width:100%;
  height: 100%;
  overflow-y: auto;
  max-width:450px;
  max-height: 850px;
  padding:20px;
  padding-top: 55px;
  background-color: white;
  box-sizing: border-box;
  font-weight: bold;
}

.mb-view.verCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
}