
/*각 페이지 공통, layout*/
#wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100vh;
  background-color: rgb(243, 243, 243);
}
.mb-view{
  position: absolute;
  width:100%;
  height: 100vh;
  overflow-y: hidden;
  max-width:1025px;
  background-color: white;
  box-sizing: border-box;
  font-weight: bold;
}

/* .mb-view.verCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
.content_inner{
  /* position: relative; */
  overflow-y: auto;
  width:100%;
  height:calc(100vh - 55px);
  padding:20px;
  padding-top: 55px;
  padding-bottom:80px;
  box-sizing: border-box;
}